* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Serif', serif;
}

.background {
  background: url(../src/assets/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.loading-box{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-img{
  height: 50px;
  width: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  padding: 60px 50px;
  padding-top: 35px;
}

.sidebar {
  flex: 1.7;
  padding-left: 50px;
  padding-right: 30px;
  position: relative;
  background: inherit;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:after{
  content: '';
  /* left: -25px; */
  right: 0;
  /* top: -25px;   */
  bottom: 0;
  background: inherit;
  position: absolute;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(20px);
}


.title {
  font-size: 13px;
  color: #fff;
  text-decoration: underline;
}

.temperature-box {
  display: flex;
  flex-direction: row;
}

.temp-value {
  font-size: 80px;
  color: #fff;
}

.degree {
  font-size: 70px;
  color: #fff;
}

.city {
  font-size: 40px;
  color: #fff;
}

.datetime {
  font-size: 15px;
  color: #fff;
}

.weather-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.city-name-box {
  margin: 20px;
}

.city {
  font-size: 50px;
  color: #fff;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.weather-icon {
  font-size: 40px;
  color: #fff;
}

.weather-type {
  font-size: 15px;
  color: #fff;
}

.date-time-box {
  margin: 0;
  padding: 0;
}

.search-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbar {
  background: transparent;
  margin-top: 20px;
  padding: 5px 5px;
  font-size: 20px;
  outline: none;
  float: right;
  border: none;
  color: #fff;
}

.btn{
  background-color: rgb(85, 4, 151);
  padding: 18px;
  margin-right: -30px;
  border: none;
  outline: none;
}

.search-icon{
font-size: 20px;
color: #fff;
}

.city-list{
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.city-loc{
  margin-top: 15px;
}

.city-loc:hover{
  cursor: pointer;
}

hr{
  margin-bottom: 40px;
}

.hr{
  margin-top: 40px;
  opacity: 0.7;
}

.weather-details{
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
}

.weather{
  margin-bottom: 40px;
}

.weather-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 18px;
  font-weight: 400;
}